version: '3.8'

services:
  my-scala-dev:
    # Dockerfileがあるディレクトリを指定してビルド
    build: 
      dockerfile: Dockerfile
      context: .
      args:
        - USERNAME=${USERNAME:-dev-user}

    # コンテナに名前をつける
    container_name: my-scala-dev
    # ホストのカレントディレクトリをコンテナの/appにマウント
    # これにより、ホストで編集したコードがコンテナに即時反映される
    volumes:
      - ..:/home/${USERNAME:-dev-user}/app
    # コンテナを起動し続けるための設定
    stdin_open: true
    tty: true
